<app-header/>
<main>
    <ul id="users">
        <li>
            <app-user [id]="users2[0].id" [name]="users2[0].name" (select)="OnSelectedContent($event)"/>
        </li>
        <li>
            <app-user [id]="users2[1].id" [name]="users2[1].name" (select)="OnSelectedContent($event)"/>
        </li>
        <li>
            <app-user [id]="users2[2].id" [name]="users2[2].name" (select)="OnSelectedContent($event)"/>
        </li>
        <li>
            <app-user [id]="users2[3].id" [name]="users2[3].name" (select)="OnSelectedContent($event)"/>
        </li>
        <li>
            <app-user [id]="users2[4].id" [name]="users2[4].name" (select)="OnSelectedContent($event)"/>
        </li>
    </ul>
</main>
